header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 3vw;
    background-color: #daa520;
    color: white;
    border-radius: 15px;
    border: solid white 2px;
    padding: 40px;
    margin: 10px 10px;
}
body {
    background-color:#fffdd0;
}

.caixa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 400px;
    border: white solid 2px;
    margin: 30px auto;
    background-color: black;

}

form {
    display: flex;
    flex-direction: column
}

input {
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 15px;
    width: 400px;
}

button {
    margin-top: 20px;
    width: 200px;
    background-color: black;
    color: white;
    border: solid white 2px;
    border-radius: 5px;
}